@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --hue: 175;
    --cor-base: hsl(var(--hue), 65%, 40%);
    --cor-borda: hsl(var(--hue), 65%, 90%);
    --cor-marca: hsl(var(--hue), 65%, 75%);
    --cor-familiar: hsl(210, 71%, 83%);
    --cor-profissional: hsl(31, 71%, 83%);
    --cor-lazer: hsl(6, 71%, 83%);
    --fonte-cursiva: "Dancing Script";
    /*weight de  400 a 700*/
    --fonte-principal: "Exo 2";
    /*weight de 100 a 900*/
    font-size: 14px;
}
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal), sans-serif;
    font-style: normal;
}
input:invalid,
textarea:invalid,
select:invalid{
    background-color: hsl(60, 100%, 70%);
    border-width: 0.25rem;
    border-color: hsl(0, 100%, 70%);
}
input:valid,
textarea:valid,
select:valid{
    background-color: hsl(var(--hue), 65%, 40%);
    border-color: initial;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    background: linear-gradient( to left, var(--cor-base), var(--cor-borda)) fixed;
}
.app, .app__list_tasks{
    margin: 0 auto;
    max-width: 50%;
    max-height: 450px;
    min-width: 750px;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cor-base);
    border-style: inset;
    border-radius: 2.5rem;
    border-width: 0.25rem;
    border-color: var(--cor-borda);
}
.app .app__main{
    position: static;
}
.app .app__main .app__main_header{
    position: sticky;
}
figure{
    position: relative;
    top:3rem;
}
figure.app__logo-imagem{
    width: 80%;
}
.app__form_confirma{
    display: flex;
    margin-top: 5rem;
    animation: moveToDownRight 0.9s ease-in-out forwards;
}
@keyframes moveToDownRight {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(100px)  translateX(160px);
        opacity: 1;
    }

}
.app__form_confirma > img{
    position: absolute;
    width: 31rem;
    height: 10rem;
}
div#mensagem{
    padding: 2rem;
    position: absolute;
    width: 20rem;
    margin: auto;
    height: 10rem;
    display: grid;
    z-index: 100;
}
#mensagem_tarefa{
    font-weight: 700;
}
.app__form{
    margin: auto;
}
.app__form_add_tasks, .app__list_tasks{
    background-color: hsla(var(--hue), 65%, 95%, 0.65);
    border-radius: 10px;
    padding: 0.10rem 0.25rem;
    border-style: outset;
}
.app__form_add_tasks{
    position: sticky;
    margin-top: -4rem;
    width: 300px;
    margin-bottom:0;
}
.app__list_tasks{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-between;
}
.app__list_tasks i{
    font-size: 1.75rem;
}
.app__list_tasks_task{
    background-color: hsla(var(--hue), 65%, 95%, 0.65);
    margin: auto;
    border-radius: 0.75rem;
    padding: 0.5rem;
    border-style: outset;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.task_name{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.task_name>span{
    /*background-color: var(--cor-base);*/
    width: 50%;
    font-weight: bold;
    text-align: center;
}
.task_details{
    display: flex;
    flex-direction: column;
}
.app__form_grid{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.app__form_titulo{
    position: initial;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--fonte-cursiva), cursive;
    margin-bottom: 1rem;
}
.app__form_label{
    padding-top: 0.15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0.05rem;
}
.app__form_text,
.app__form_textarea,
.app__form_select{
    border-radius: 6px;
    height: 2rem;
    border-color: var(--cor-borda);
    padding: 0.25rem;
}
.app__form_textarea{
    resize: none;
    height: 3rem;
}
.app__form_buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.form__buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: hsla(var(--hue), 45%, 65%, 70%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: outset;
}
.hidden{
    display: none;
}
.familiar {
    background: linear-gradient(to bottom, var(--cor-base) 10%, var(--cor-familiar) 70%);
}
.profissional {
    background: linear-gradient(to bottom, var(--cor-base) 15%, var(--cor-profissional) 70%);
}
.lazer {
    background: linear-gradient(to bottom, var(--cor-base) 15%, var(--cor-lazer) 70%);
}